.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navigation {
  display: flex;
  margin-left: auto !important;
}

.navbar_input {
  min-width: 18vw;
  border: none !important;
  border-bottom: 2px solid #9c9c9c !important;
  border-radius: 0px !important;
  outline: none !important;
  background-color: transparent !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

.navbar{
  /* position: fixed !important; */
  background-color: transparent !important;
}

.navbar_button {
  border-color: transparent !important;
}
.navbar_button > svg {
  position: relative;
  left: -1vw;
}
.navbar_button:hover {
  background-color: #fff !important;
}

/* Register Page CSS goes here */
.register,
.login {
  margin-top: 10%;
  margin-bottom: 5%;
}

.register_heading,
.login_heading {
  font-family: "Raleway", sans-serif;
  color: #524c4c;
}

.text-field {
  /* max-width: 85%; */
  margin: 0 auto;
  margin-top: 3%;
  border: none !important;
  border-bottom: 2px solid #9c9c9c !important;
  border-radius: 0px !important;
}

.register_form,
.login_form {
  position: relative;
  margin-top: 8%;
}
.register_button,
.login_button {
  background-color: #0a1226 !important;
  border-color: #0a1226 !important;
  height: 50px;
  font-size: 1.2em !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
}

.already_line {
  margin-top: 4%;
  font-family: "Raleway", sans-serif !important;
  font-weight: 400 !important;
}
.already_line > span > a {
  text-decoration: none !important;
  color: #0a1226;
}

/* Dashboard css goes here */
.dashboard {
  overflow-x: hidden;
}
.dashboard_left {
  background-color: #f2ece7;
  height: 95vh;
  overflow-y: hidden !important;
  position: fixed;
  z-index: 1 !important;
}
.dashboard_right {
  background-color: #f9f5f2;
  position: relative;
  min-height: 100vh;
  max-height: auto !important;
  margin-top: 0 !important;
}
.dashboard_row {
  /* height: 95vh; */
  width: 100%;
  margin-left: 0px !important;
}
.alert_top {
  height: 50px;
  margin-top: -0.5vh !important;
  margin-bottom: -0.5vh !important;
  width: 100vw;
  z-index: 1;
  background-color: #0a1226;
  align-items: center;
}
.dashboard_alert {
  font-family: "Raleway", sans-serif;
  color: #524c4c;
  padding-top: 0.6em;
  color: #fff;
  z-index: 1032 !important;
  font-size: 20px;
}

.dashboard_list {
  vertical-align: center;
  text-align: center;
  margin-top: 30%;
  background: transparent;
}
.dashboard_list > li {
  background-color: transparent;
  border: none !important;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 25%;
  /* text-transform: uppercase; */
}
.dashboard_left_img {
  height: 100px;
  margin-bottom: 10%;
}
.active_list {
  font-size: 40px !important;
}

.user_info {
  margin-top: 20% !important;
  left: 15% !important;
}
.user_cart {
  margin-top: 12% !important;
  margin-left: 10% !important;
}
.user_cart_heading {
  font-size: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.4em;
}
.cart_items {
  margin-top: 3%;
  margin-left: 1% !important;
}
.cart_item_list {
  border: none !important;
}
.cart_items_details {
  background-color: #f9f5f2 !important;
  border: none !important;
}
.cart_items_details_heading {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.negative,
.positive {
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: transparent;
  border: none;
}
.cart_counter_input {
  width: 3.33333vw;
  height: 2.22222vw;
  line-height: 2.22222vw;
  border-radius: 0.13889vw;
  box-sizing: border-box;
  border: 1px solid #e6dcd2;
  text-align: center;
  background: #f9f5f2;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.cart_counter {
  margin-top: 3%;
}
.cart_price {
  font-size: 18px;
  margin-bottom: 10px;
}
.img_back {
  background-color: #f9f5f2;
}
.subtotal {
  margin-top: 5%;
}
.subtotal_text {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.subtotal_text > span {
  font-weight: 400;
}
.cart-li-message {
  padding: 0.97222vw 1.94444vw;
  line-height: 1.11111vw;
  border-radius: 0.13889vw;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background: #efece9;
  margin: 1.31944vw 0 0;
}
.checkout_button {
  height: 50px;
  border-radius: 0px !important;
  font-size: 20px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
}
.left_links:hover {
  background-color: #f9f5f2 !important;
}

.cardss {
  display: inline-block !important;
  margin-left: 5%;
  margin-top: 5%;
  background-color: #f2ece7 !important;
  border: none !important;

}

.wishlist {
  margin-top: 10%;
}
.wishlist_button {
  height: 50px;
  border-radius: 0px !important;
  font-size: 20px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
}
.cardss_h3 {
  font-size: 25px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
}
.cardss_p {
  font-size: 17px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  margin-top: 5px;
}
.wishlist_heading {
  font-size: 55px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 700 !important;
  margin-left: 5% !important;
  line-height: 1.4em;
}
.account_settings {
  margin-top: 10% !important;
  margin-left: 8% !important;
}

.account_heading {
  font-size: 55px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  /* margin-left: 5% !important; */
  line-height: 1.4em;
}
.account_settings_title {
  margin-top: 7%;
}

.settings_field {
  border: 2px solid #000;
  margin-left: 2%;
  padding-bottom: -10px;
  margin-top: 5%;
}
.settings_field > .form-group > input {
  background-color: transparent !important;
  border: none !important;
}
.changes_button {
  margin-left: 3%;
  height: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  font-size: 20px !important;
  border-radius: 0px !important;
}

.address_field {
  margin-top: 5%;
  min-height: 25vh !important;
  height: auto;
  /* background: red; */
  margin-left: 3% !important;
  border-radius: 15px !important;
  background-color: #29292b !important;
  margin-bottom: 10%;
  color: #fff !important;
}
.address_settings_title {
  margin-top: 10%;
}
.address_name {
  margin-top: 10%;
  margin-left: 8%;
  font-size: 20px !important;
  font-weight: bold;
}
.address_p {
  margin-top: 4%;
  margin-left: 8% !important;
  font-size: 17px !important;
  font-weight: bold;
}
.address_field > small {
  font-size: 14px;
  float: right;
  position: relative;
  top: 3%;
  border: 1px solid #fff;
  padding: 1px 2px 1px 2px;
}
.address_field:nth-child(2) {
  background-color: #f2ece7 !important;
}
.address_field:nth-child(2) > span {
  margin: 0 auto !important;
  color: #000;
  font-size: 50px;
  text-align: center;
  vertical-align: center;
  display: flex;
  margin-top: 22% !important;
  margin-left: 43% !important;
}
.text-area-field {
  border: 2px solid #9c9c9c !important;
  height: 200px !important;
}

/* Landing page css goes here */
.landing {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    #fffaf6
  );
  height: 100vh;
}
.landing-container {
  height: 90vh;
}
.landing-second {
  height: 90vh;
  background: #fffaf6;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./img/bgg.svg");

  background-repeat: no-repeat;
  /* opacity: 0.7; */
}

.dots-upper {
  /* top: 1379px; */
  height: 90vh;
  background-image: url(./img/dots.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
}
.landing-second-center {
  height: 50vh;
}
.vertical_image {
  height: 140% !important;
  position: relative;
  margin: 0 auto !important;
  top: 20%;
  opacity: 0.95;
  box-shadow: 4px 4px 4px #fffaf6;
  z-index: 35;
}
.horizontal_image {
  position: absolute;
  height: 40vh;
  right: 70%;
  top: 60%;
  /* opacity: 0.95; */
  z-index: 34;
}
.weird_image {
  height: 50%;
  z-index: 33;
  position: relative;
  right: 62%;
  top: -15%;
  opacity: 0.8;
}
.all_products {
  height: 50px;
  width: 30vw;
  position: absolute;
  right: 5%;
  top: 130%;
  background: #0a1226;
  border: none;
  color: #fff;
  font-size: 20px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
}

/* Products page css goes here */
.products{
  min-height: 100vh;
  height: auto;
  background-color: #f8f5f2;
  overflow-x: hidden;
}
.products_row{
  /* position: relative; */
  padding-top: 10%;
}
.prouct_image{
  max-height: 400px;
  height: auto;
  background-color: #f2ede9;
  /* width: 50px; */
}
.product_body{
  background-color: transparent !important;
}
.cardsss{
  background-color: transparent !important;
  border: none !important;
  display: inline-grid !important;
  margin-left: 6%;
  margin-top: 6%;
}
.all_p{
  margin-top: -4%;
  margin-bottom: 10%;
}
.cardsss_h3{
  /* font-size: 22px !important; */
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  margin-top: 2%;
  padding: 1.04167vw 0 0;
    font-size: 1.11111vw;
    line-height: 1.25em;
}
.products_left_head{
  font-size: 1.0111vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  margin-left: 40%;
}
.products_left_head > span {
  font-size: 1.8111vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
}
.products_left_list{
  padding-top: 10% !important;
}
.products_left_list_item{
  margin-left: 30%;
  border: none !important;
  background-color: transparent !important;
  font-size: 1.2111vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  opacity: 0.9;
  cursor: pointer
}
.select_dropdown{

}
.select_dropdown:focus{
  outline: none;
  box-shadow: 0px;
}
