.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navigation {
  display: flex;
  margin-left: auto !important;
}

.navbar_input {
  min-width: 18vw;
  border: none !important;
  border-bottom: 2px solid #9c9c9c !important;
  border-radius: 0px !important;
  outline: none !important;
  background-color: transparent !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

.navbar {
  /* position: fixed !important; */
  background-color: transparent !important;
}

.navbar_button {
  border-color: transparent !important;
}
.navbar_button > svg {
  position: relative;
  left: -1vw;
}
.navbar_button:hover {
  background-color: #fff !important;
}

/* Register Page CSS goes here */
.register,
.login {
  margin-top: 10%;
  margin-bottom: 5%;
}

.register_heading,
.login_heading {
  font-family: "Raleway", sans-serif;
  color: #524c4c;
}

.text-field {
  /* max-width: 85%; */
  margin: 0 auto;
  margin-top: 3%;
  border: none !important;
  border-bottom: 2px solid #9c9c9c !important;
  border-radius: 0px !important;
}

.register_form,
.login_form {
  position: relative;
  margin-top: 8%;
}
.register_button,
.login_button {
  background-color: #0a1226 !important;
  border-color: #0a1226 !important;
  height: 50px;
  font-size: 1.2em !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
}

.already_line {
  margin-top: 4%;
  font-family: "Raleway", sans-serif !important;
  font-weight: 400 !important;
}

.already_line > span > a {
  text-decoration: none !important;
  color: #0a1226;
}

/* Dashboard css goes here */
.dashboard {
  overflow-x: hidden;
}
.dashboard_left {
  background-color: #f2ece7;
  height: 95vh;
  overflow-y: hidden !important;
  position: fixed;
  z-index: 1 !important;
}
.dashboard_right {
  background-color: #f9f5f2;
  position: relative;
  min-height: 100vh;
  max-height: auto !important;
  margin-top: 0 !important;
}
.dashboard_row {
  /* height: 95vh; */
  width: 100%;
  margin-left: 0px !important;
}
.alert_top {
  height: 50px;
  margin-top: -0.5vh !important;
  margin-bottom: -0.5vh !important;
  width: 100vw;
  z-index: 1;
  background-color: #0a1226;
  align-items: center;
}
.dashboard_alert {
  font-family: "Raleway", sans-serif;
  color: #524c4c;
  padding-top: 0.6em;
  color: #fff;
  z-index: 1032 !important;
  font-size: 20px;
}

.dashboard_list {
  vertical-align: center;
  text-align: center;
  margin-top: 10%;
  background: transparent;
}
.dashboard_list > li {
  background-color: transparent;
  border: none !important;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 25%;
  /* text-transform: uppercase; */
}
.dashboard_left_img {
  height: 25vh;
  width: 50%;
  margin-bottom: 10%;
  text-align: center;
  margin-left: 18%;
}
.active_list {
  font-size: 40px !important;
}

.user_info {
  margin-top: 20% !important;
  left: 15% !important;
}
.user_cart {
  margin-top: 12% !important;
  margin-left: 10% !important;
}
.user_cart_heading {
  font-size: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.4em;
}
.cart_items {
  margin-top: 3%;
  margin-left: 1% !important;
}
.cart_item_list {
  border: none !important;
  min-width: 780px !important;
  margin-top: 4%;
}
.cart_items_details {
  background-color: #f9f5f2 !important;
  border: none !important;
}
.cart_items_details_heading {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.negative,
.positive {
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: transparent;
  border: none;
}
.cart_counter_input {
  width: 3.33333vw;
  height: 2.22222vw;
  line-height: 2.22222vw;
  border-radius: 0.13889vw;
  box-sizing: border-box;
  border: 1px solid #e6dcd2;
  text-align: center;
  background: #f9f5f2;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.cart_counter {
  margin-top: 3%;
}
.cart_price {
  font-size: 18px;
  margin-bottom: 10px;
}
.img_back {
  background-color: #f9f5f2 !important;
}
.no-gutters {
  background-color: #f9f5f2 !important;
}
.subtotal {
  margin-top: 5%;
}
.subtotal_text {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.subtotal_text > span {
  font-weight: 400;
}
.cart-li-message {
  padding: 0.97222vw 1.94444vw;
  line-height: 1.11111vw;
  border-radius: 0.13889vw;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background: #efece9;
  margin: 1.31944vw 0 0;
}
.checkout_button {
  height: 50px;
  border-radius: 0px !important;
  font-size: 20px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
}
.left_links:hover {
  background-color: #f9f5f2 !important;
}

.cardss {
  display: inline-block !important;
  margin-left: 5%;
  margin-top: 5%;
  background-color: #f2ece7 !important;
  border: none !important;
}

.wishlist {
  margin-top: 10%;
}
.wishlist_button {
  height: 50px;
  border-radius: 0px !important;
  font-size: 20px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
}
.cardss_h3 {
  font-size: 25px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  margin-top: 8%;
}
.cardss_p {
  font-size: 17px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  margin-top: 5px;
}
.wishlist_heading {
  font-size: 55px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 700 !important;
  margin-left: 5% !important;
  line-height: 1.4em;
}
.account_settings {
  margin-top: 10% !important;
  margin-left: 8% !important;
}

.account_heading {
  font-size: 55px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  /* margin-left: 5% !important; */
  line-height: 1.4em;
}
.account_settings_title {
  margin-top: 7%;
}

.settings_field {
  border: 2px solid #000;
  margin-left: 2%;
  padding-bottom: -10px;
  margin-top: 5%;
}
.settings_field > .form-group > input {
  background-color: transparent !important;
  border: none !important;
}
.changes_button {
  margin-left: 3%;
  height: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  font-size: 20px !important;
  border-radius: 0px !important;
}

.address_field {
  margin-top: 5%;
  min-height: 25vh !important;
  height: auto;
  /* background: red; */
  margin-left: 3% !important;
  border-radius: 15px !important;
  background-color: #29292b !important;
  margin-bottom: 10%;
  color: #fff !important;
}
.address_settings_title {
  margin-top: 10%;
}
.address_name {
  margin-top: 10%;
  margin-left: 8%;
  font-size: 20px !important;
  font-weight: bold;
}
.address_p {
  margin-top: 4%;
  margin-left: 8% !important;
  font-size: 17px !important;
  font-weight: bold;
}
.address_field > small {
  font-size: 14px;
  float: right;
  position: relative;
  top: 3%;
  border: 1px solid #fff;
  padding: 1px 2px 1px 2px;
}
.address_field:nth-child(2) {
  background-color: #f2ece7 !important;
}
.address_field:nth-child(2) > span {
  margin: 0 auto !important;
  color: #000;
  font-size: 50px;
  text-align: center;
  vertical-align: center;
  display: flex;
  margin-top: 22% !important;
  margin-left: 43% !important;
}
.text-area-field {
  border: 2px solid #9c9c9c !important;
  height: 200px !important;
}

/* Landing page css goes here */
.landing {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    #fffaf6
  );
  height: 100vh;
}
.landing-container {
  height: 90vh;
}
.landing-second {
  display: flex;
  height: 60vh;
  background: #fffaf6;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./img/bgg.svg");

  background-repeat: no-repeat;
  /* opacity: 0.7; */
}

.dots-upper {
  /* top: 1379px; */
  height: 90vh;
  background-image: url(./img/dots.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
}
.landing-second-center {
  height: 50vh;
}
.vertical_image {
  height: 140% !important;
  position: relative;
  margin: 0 auto !important;
  top: 20%;
  opacity: 0.95;
  box-shadow: 4px 4px 4px #fffaf6;
  z-index: 35;
}
.horizontal_image {
  position: absolute;
  height: 40vh;
  right: 70%;
  top: 60%;
  /* opacity: 0.95; */
  z-index: 34;
}
.weird_image {
  height: 50%;
  z-index: 33;
  position: relative;
  right: 62%;
  top: -15%;
  opacity: 0.8;
}
.all_products {
  height: 50px;
  width: 30vw;
  position: absolute;
  right: 5%;
  top: 130%;
  background: #0a1226;
  border: none;
  color: #fff;
  font-size: 20px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
}

/* Products page css goes here */
.product {
  /* background-color: #f9f5f2; */
  min-height: 100vh;
  height: auto;
}
.products {
  min-height: 100vh;
  height: auto;
  background-color: #f8f5f2;
  overflow-x: hidden;
}
.products_row {
  /* position: relative; */
  padding-top: 10%;
}
.prouct_image {
  max-height: 400px;
  height: auto;
  background-color: #f2ede9;
  /* width: 50px; */
}
.product_body {
  background-color: transparent !important;
}
.cardsss {
  background-color: transparent !important;
  border: none !important;
  display: inline-grid !important;
  margin-left: 6%;
  margin-top: 6%;
}
.all_p {
  margin-top: -4%;
  margin-bottom: 10%;
}
.cardsss_h3 {
  /* font-size: 22px !important; */
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  margin-top: 2%;
  padding: 1.04167vw 0 0;
  font-size: 1.11111vw;
  line-height: 1.25em;
}
.products_left_head {
  font-size: 1.0111vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  margin-left: 40%;
}
.products_left_head > span {
  font-size: 1.8111vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
}
.products_left_list {
  padding-top: 10% !important;
}
.products_left_list_item {
  margin-left: 30%;
  border: none !important;
  background-color: transparent !important;
  font-size: 1.2111vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  opacity: 0.9;
  cursor: pointer;
}
.select_dropdown {
}
.select_dropdown:focus {
  outline: none;
  box-shadow: 0px;
}

.nike_logo {
  padding-top: 20%;
  padding-left: 20%;
  width: 50%;
}

.font {
  font-size: 9vw;
  font-family: "Futura", sans-serif;
  font-weight: 800 !important;
  padding-left: 20%;
  overflow: visible;
}

.font1{
  padding-bottom: 1%;
  font-size: 2vw;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 250 !important;
  padding-left: 20%;
  overflow: visible;
}

.nikeshoe {
  padding-top: 10%;
  position: relative;
  margin-right: 50vw;
  width: 100%;
  z-index: 1;
}

.shop_now {
  height: 50px;
  width: 10vw;
  position: absolute;
  left: 20%;
  background: #0a1226;
  border: #ffffff;
  color: #fff;
  font-size: 20px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
}

.wishlist_delete_icon {
  height: 20px;
  float: right;
  cursor: pointer;
}
.cart_delete_icon {
  height: 25px;
  float: right;
  margin-right: 40% !important;
  margin-top: 3.4% !important;
  cursor: pointer;
}
.c2w_button {
  background-color: #212529 !important;
  border-radius: 0px !important;
  margin-top: -20% !important;
  font-family: "Raleway", sans-serif;
  font-weight: 500 !important;
}

.product_image {
  padding-top: 30%;
  padding-left: 15%;
  padding-right: 5%;
  margin-left: -18%;
  position: relative;
  width: 120%;
}

.product_container {
  height: 90vh;
  display: flex;
}

.product_left {
  display: flex;
}

.product_right {
  display: flex;
}

.product-price {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 25px;
}
.divider {
  width: 10%;
}
.brand {
  padding-top: 20%;
  font-size: 25px;
  font-weight: 200;
  display: block;
}
.product-name {
  font-size: 35px;
  font-family: "Montserrat";
}
.description {
  font-family: "Raleway", sans-serif;
  padding-top: 5%;
  font-size: 17px;
}
.product-description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.prod-list {
  list-style-type: none;
  display: inline-flex;
  margin-left: -12%;
  margin-top: 10vh !important;
}

.prod-button {
  height: 90%;
  width: 15vw !important ;
  position: relative;
  background: #0a1226;
  border: #ffffff;
  color: #fff;
  font-size: 15px !important;
  border-radius: 0px !important;
  /*   font-family: "Raleway", sans-serif;
  font-weight: 600 !important; */

  /* padding-top: 30%; */
  font-family: "Futura", sans-serif;
}

.prod-button {
  height: 90%;
  width: 15vw !important ;
  position: relative;
  background: #0a1226;
  border: #ffffff;
  color: #fff;
  font-size: 15px !important;
  border-radius: 0px !important;
  /*   font-family: "Raleway", sans-serif;
  font-weight: 600 !important; */

  /* padding-top: 30%; */
  font-family: "Futura", sans-serif;
  letter-spacing: 0.05rem;
}

.prod-list-item {
  margin-left: 5% !important;
}

.shoe_size_list {
  list-style-type: none;
  display: inline-block;
  position: absolute;
  margin-left: -4vw;
  margin-top: 2vh;

  /* margin-bottom: % !important; */
}
.shoe_size_list_item {
  display: inline-block;
  margin-left: 2vw;
  border: 2px solid #0a1226;
  height: 60px;
  text-align: center;
  vertical-align: center;
  width: 60px;
  border-radius: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding-top: 15px;
  font-family: "Futura", sans-serif;
  font-weight: 700;
  -mozkit-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  /* padding-bottom: 15px; */
}
.shoe_size_list_item:hover {
  background: #0a1226;
  color: #fff;
  -mozkit-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.checked_size {
  background: #0a1226;
  color: #fff;
}
.go_back{
  /* border: 4px solid #000; */
}
.back_image{
  height: 45px;
  position: relative;
  margin-top: 2vh;
  opacity: 1;
}
.back_image:hover{
  opacity: 0.7;
}

.landing_img{
  padding-left: 10%;
  padding-top: 30%;
  width: 38vw;
}
.landing_img2{
  padding-right: 10%;
  padding-top: 30%;
  padding-bottom: 5%;
  width: 38vw;
}
.landing-heading{
  padding-top: 35%;
  padding-left: 10%;
  display: block;
  font-size: 24px;
  font-family: "Rubik-Medium";
  font-weight: 400;
}
.landing-heading2{
    padding-top: 45%;
    padding-right: 5%;
    padding-left: 30%;
    display: block;
    font-size: 24px;
    font-family: "Rubik-Medium";
    font-weight: 400;
    text-align: right;
}
.landing-desc{
  padding-left: 10%;
  padding-right: 15%;
  font-size: 16px;
  font-family: "Rubik";
  font-weight: 30;
}
.landing-desc2{
  padding-left: 15%;
  padding-right: 5%;
  font-size: 16px;
  font-family: "Rubik";
  font-weight: 30;
  text-align: right;
}
.shop-tag{
  padding-left: 10%;
  color: #f75c03;
  font-size: 18px;
  font-family: "Rubik-Medium";
  font-weight: 200;
}
.shop-tag2{
  padding-left: 74%;
  color: #f75c03;
  font-size: 18px;
  font-family: "Rubik-Medium";
  font-weight: 200;
}
.convincer{
  display: block;
  margin-top: 10%;
  height: 7vh;
  width: 100vh;
  background-color: #f75c03;
}
.convince{
  text-align: center;
  color: #ffffff;
  padding-top: 1%;
  font-size: 20px;
  font-family: "Rubik-Medium";
  font-weight: 100;
}
